main {
  padding-top: 179px;
  padding-left: 147px;
  padding-bottom: 174px;
}

.main-icon {
  position: absolute;
  border: none;
  outline: none;
}

.main-icon:nth-child(1) {
  width: 88px;
  height: 85px;
  fill: #fad34f;
  stroke: #ffffff;
  stroke-width: 1.3px;
  top: 23px;
  left: 29px;
}

.main-icon:nth-child(2) {
  width: 127px;
  height: 127px;
  fill: #fad34f;
  stroke: #ffffff;
  stroke-width: 0.6px;
  top: 524px;
  left: 840px;
  z-index: 3;
}

.main-icon:nth-child(4) {
  top: 21px;
  left: 714px;
  fill: #fad34f;
  opacity: 0.1;
  width: 87px;
  height: 87px;
}

.main-icon:nth-child(3) {
  left: 872px;
  top: 578px;
  width: 214px;
  height: 208px;
  fill: #f472b7;
  stroke: #ffffff;
  stroke-width: 0.4px;
  z-index: 2;
}

.main-icon:nth-child(5) {
  fill: #c6c6c6;
  opacity: 0.05;
  top: 186px;
  left: -89px;
  width: 245px;
  height: 184px;
}

.main-icon:nth-child(6) {
  fill: #c6c6c6;
  opacity: 0.05;
  top: 400px;
  left: -120px;
  width: 218px;
  height: 164px;
}

.main-icon:nth-child(7) {
  fill: #c6c6c6;
  opacity: 0.05;
  top: 729px;
  left: 21px;
  width: 131px;
  height: 99px;
}

.main-icon:nth-child(8) {
  fill: #c6c6c6;
  opacity: 0.05;
  top: 836px;
  left: 141px;
  width: 288px;
  height: 216px;
}

.main-icon:nth-child(9) {
  fill: #c6c6c6;
  opacity: 0.05;
  width: 218px;
  height: 164px;
  top: 626px;
  left: 343px;
}

.main-icon:nth-child(10) {
  fill: #c6c6c6;
  opacity: 0.05;
  width: 169px;
  height: 128px;
  top: 746px;
  left: 731px;
}

.main-icon:nth-child(11) {
  fill: #c6c6c6;
  opacity: 0.05;
  width: 172px;
  height: 129px;
  top: 256px;
  left: 693px;
}

.main-icon:nth-child(12) {
  fill: #c6c6c6;
  opacity: 0.05;
  width: 138px;
  height: 103px;
  top: 131px;
  left: 612px;
}

.main-icon:nth-child(13) {
  fill: #c6c6c6;
  opacity: 0.05;
  width: 218px;
  height: 164px;
  top: 101px;
  left: 775px;
}

.main-box {
  position: absolute;
  top: -20px;
  left: 900px;
  overflow: hidden;
  border-radius: 50%;
  width: 976px;
  height: 976px;
  flex-shrink: 0;
  z-index: 1;
}

.main-img {
  width: 100%;
  height: 100%;
}

.main-title {
  color: #3e3e3e;
  font-family: "Apercu Arabic Pro";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 52px */
}

.main-form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.main-input {
  width: 557px;
  height: 93px;
  font-family: "Apercu Arabic Pro";
  font-size: 18px;
  color: #3e3e3e;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 32.4px */
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  background: #fff;
  padding-left: 46px;
}

.main-input::placeholder {
  color: #2d2d2d;
  font-family: "Apercu Arabic Pro";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 32.4px */
}

.main-textarea {
  width: 557px;
  height: 63px;
  font-family: "Apercu Arabic Pro";
  font-size: 18px;
  color: #3e3e3e;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 32.4px */
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  background: #fff;
  padding-top: 31px;
  padding-left: 46px;
  padding-bottom: 126px;
  margin-bottom: 15px;
}

.main-textarea::placeholder {
  color: #2d2d2d;
  font-family: "Apercu Arabic Pro";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 32.4px */
}

.main-bt {
  cursor: pointer;
  border: 0;
  border-radius: 500px;
  background: #fad34f;
  width: 218px;
  height: 73px;
  color: #fff;
  font-family: "Apercu Arabic Pro";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 28px 52px;
}

footer {
  position: relative;
  width: 1440px;
  height: 200px;
  padding-left: 343px;
  border-top: 1px solid #d8d8d8;
  background: #fafafa;
  display: flex;
  align-items: center;
}

.footer-icon {
  position: absolute;
}

.footer-icon:nth-child(1) {
  top: -40px;
  left: 30px;
  width: 214px;
  height: 208px;
  fill: #f472b7;
  stroke: #ffffff;
  stroke-width: 0.4px;
}

.footer-icon:nth-child(2) {
  width: 78px;
  height: 97px;
  flex-shrink: 0;
  fill: #46ebb0;
  stroke: #ffffff;
  top: -3px;
  left: 1300px;
}

.footer-icon:nth-child(3) {
  width: 88px;
  height: 85px;
  fill: #fad34f;
  stroke: #ffffff;
  top: 60px;
  left: 1440px;
}

.footer-social {
  width: 127px;
  height: 16px;
  flex-shrink: 0;
  fill: #696969;
}
